<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>this is home page</h1>
    <h3><%= ["raushan","kumar","singh"][0].toUpperCase() %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum eos excepturi unde repellat illum id dicta necessitatibus tempora velit, qui hic. Eveniet, incidunt assumenda officiis temporibus consequatur quaerat animi hic!</p>
     <button>click me</button>
</body>
</html>